.project-showcase {
    background-color: #111111;
    width: 100%;
    padding: 140px;
}

.subtitle:before {
    content: "";
    display: block;
    height: 29px;
    width: 3px;
    background-color: #FF4C00;
    position: absolute;
    left: -15px;
    top: 0px;
}

.subtitle {
    position: relative;
}

.position-relative h5.subtitle {
    font-family: inter;
    font-weight: 500;
    font-size: 24px;
}

.color-grey {
    font-size: 18px;
    color: #B9B9B9;
    font-weight: 400;
    font-family: 'Inter';
}

.display-flex {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.display-flex p {
    width: 80%;
}

p.mt-2.color-grey:before {
    content: "";
    display: block;
    height: 50px;
    width: 2px;
    background-color: #B9B9B9;
    position: absolute;
    left: -25px;
    top: 0px;
}

p.mt-2.color-grey {
    position: relative;
}
.width-custom{
    width: 32%;
}
.orange-button{
    background: #FF4C00;
    border: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 33px;
}
.botton {
    text-align: center;
}
.heading-project {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 0px 120px;
}
.orange-button-1 {
    background: #FF4C00;
    border: none;
    color: #000000;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 20px;
    line-height: 33px;
}
.heading-project p {
    font-size: 20px;
    margin: 0px;
}
/* Responsive Styles */
@media only screen and (min-width: 1025px) and (max-width: 1290px) {
    .display-flex p {
        width: 100%;
    }
    .width-custom {
        width: 45%;
    }
    .color-grey {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {

  
}

@media (max-width: 768px) {
    .orange-button-1 {
        display: none;
    }
    .heading-project p {
        text-align: center !important;
    }
    .project-showcase {
        padding: 40px 20px;
    }
    .heading-project {
        padding: 0px 0px 20px;
    }
    .color-grey {
        font-size: 12px;
    }
    .position-relative h5.subtitle {
        font-size: 18px;
    }
    .display-flex p {
        width: 100%;
    }
    .width-custom {
        width: 100%;
    }
    .display-flex {
        gap: 0px;
        padding: 15px;
        flex-direction: column;
    }
    p.mt-2.color-grey:before {
        display: none;
    }
    .orange-button {
        padding: 5px 10px;
        font-size: 14px;
        
    }
}