.rounded img {
    width: 25% !important;
    height: 20%;
    object-fit: contain;
}

section.ServiceCard {
    width: 100%;
    padding: 110px 140px;
    background-color: #111111;
}

/* Responsive Styles */
@media only screen and (min-width: 1025px) and (max-width: 1290px) {
    .rounded img {
        width: 17% !important;
        height: 17%;
        object-fit: contain;
        margin-bottom: 10px !important;
    }
    .rounded p {
        font-size: 20px !important;
    }
    p.last-p {
        font-size: 15px !important;
    }
    .p-4 {
        padding: 1rem!important;
    }
    .font-74 {
        font-size: 66px !important;
    }
    .font-52 {
        font-size: 38px !important;
    }
}


@media (max-width: 1024px) {


}

@media (max-width: 768px) {
    section.ServiceCard {
        width: 100%;
        padding: 40px 20px;
        background-color: #111111;
    }
    section.ServiceCard .font-24 {
        font-size: 18px;
    }
    .rounded img {
        width: 20% !important;
        height: 15%;
        margin-bottom: 35px !important;
    }
    .ServiceCard p {
        font-size: 24px !important;
    }
    p.last-p {
        font-size: 16px !important;
    }
}